<%- include("partials/header.ejs")  %>

<div class="container mx-auto mt-16 p-4 flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold">All Posts</h1>
    <div class="w-full max-w-2xl mt-8 rounded-lg">
        <% posts.forEach(post => { %>
            <div class="card p-6 mb-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl">
                <h2 class="text-2xl font-extrabold mb-2"><%= post.title %></h2>
                <p class="text-gray-300 mb-4 leading-relaxed"><%= post.description %></p>
                <div class="flex items-center justify-between">
                    <strong class="text-purple-400 text-sm">Author: <%= post.author %></strong>
                    <a href="/posts/<%= post.id %>" class="text-purple-400 px-2 underline text-sm">Read More</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer.ejs")  %>